body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  min-width: 400px;
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1440px;
    margin-top: calc(96 / 960 * 100vh);
    margin-bottom: 5vh;
    gap: calc(95 / 1440 * 100vw);
    img {
      min-width: 360px;
      min-height: calc(330 / 550 * 360px);
      width: calc(505 / 1440 * 100vw);
      height: calc(330 / 1440 * 100vw);

      object-fit: cover;
    }
    article {
      width: calc(380 / 1440 * 100vw);

      min-width: 270px;
      color: #121212;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      header {
        h1 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 2.62rem;
          line-height: 120%;
          margin-bottom: 1.5rem;
          margin-top: 0;
        }
      }
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 150%;
        margin-bottom: 2rem;
      }
      button {
        position: relative;
        border: none;
        background: #e4c1ae;
        border-radius: 32px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 40px;
        gap: 10px;
        color: #ffffff;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 100%;
      }
      button:hover {
        cursor: pointer;
        filter: brightness(80%);
      }
    }
  }

  aside {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.644);
    .content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      width: 63vw;

      padding: calc(95 / 1440 * 100vw);
      padding-top: calc(56 / 960 * 100vh);
      padding-bottom: calc(56 / 960 * 100vh);
      h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 120%;
        margin-bottom: 1.5rem;
        margin-top: 0;
      }
      p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 150%;
      }
      .close-btn {
        position: absolute;
        right: 2rem;
        top: 2rem;
        padding: 0;
        line-height: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        background-color: white;
        cursor: pointer;
      }
      .setNull-btn {
        display: none;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 40px;
        gap: 10px;
        color: #272727;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 100%;
        transition: all ease 1s;
      }
      .setNull-btn:hover {
        background-color: #e4c1ae;
      }
      .setNull-btn::after {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        transform: translateY(0.4rem);
        height: 0rem;
        width: 0rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: #e4c1ae;
        transition: all ease 1s;
      }
      .setNull-btn::before {
        display: block;
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        transform: translateY(-0.4rem);
        height: 0rem;
        width: 0rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-color: #e4c1ae;
        transition: all ease 1s;
      }
      .setNull-btn:hover::after {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        transform: translateY(0.4rem);
        width: 100%;
        height: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: #e4c1ae;
        animation-name: but;
        animation-duration: 1s;
      }
      .setNull-btn:hover::before {
        display: block;
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        transform: translateY(-0.4rem);
        width: 100%;
        height: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-color: #e4c1ae;
        animation-name: but;
        animation-duration: 1s;
      }
    }
  }
}

@keyframes but {
  0% {
    height: 0rem;
    width: 0rem;
  }
  20% {
    height: 0.5rem;
    width: 1rem;
  }
  100% {
    height: 0.5rem;
    width: 100%;
  }
}
